/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*Label{-fx-text-fill:red;}*/
#txtNumeroEstratto{-fx-text-fill:red;}
Button{-fx-alignment:center;}